<% if @search_page && @search_page.results %>
  <script>
    $('#next_page').on('click', function(e) {
      total_count = <%=@search_page.total_count%>
      $("#book_search_form #start_index").val(Math.min(
                                                       parseInt($("#book_search_form #start_index").val(), 10) +
                                                       parseInt($("#book_search_form #max_results").val(), 10),
                                                       total_count
                                                      )
                                             );
      $("#book_search_form").submit();
      e.preventDefault();
    });

    $('#previous_page').on('click', function(e) {
      $("#book_search_form #start_index").val(Math.max(
                                                       parseInt($("#book_search_form #start_index").val(), 10) -
                                                       parseInt($("#book_search_form #max_results").val(), 10),
                                                       0
                                                      )
                                             );
      $("#book_search_form").submit();
      e.preventDefault();
    });
  </script>
  <p>Viewing <%=  @search_page.start_index.to_i + 1 %>-<%=  @search_page.start_index.to_i + Book::BOOK_SEARCH_DEFAULT_MAX_RESULTS %> out of <%= @search_page.total_count %></p>
  <p><button class='btn' id="previous_page">&lt; Previous</button> <button class='btn' id="next_page">Next &gt;</button></a>
  <table class="table">
   <tr><th>Favorite?</th><th colspan="2">Book</th></tr>
   <%  @search_page.results.each do |gbook| %>
        <%= render partial: "book_favoriting_form", locals: {gbook: gbook} %>
  <% end %>
  </table>
<% end %>
